/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
.hidden {
	background-color: black;
}
.td .hidden {
	height: 20px;
	width: 20px;
	color: white;
}

table {
	table-layout: fixed;
	width: 90%;
}
th {
	width: 14%;
}

td {
	height: 14%;
}
